*.o
*.a
*.obj
*.exe
.deps
autom4te.cache
Makefile
/dgen
/dgen_tobin
/config.log
/config.status
/musa/m68kmake
/musa/m68kops.c
/musa/m68kops.h
/mz80/makez80
/mz80/mz80.c
/mz80/x86-mz80.asm
/sdl/pbm2df
/sdl/dgenfont*.cpp
/star/star
/star/starcpu.asm
/cyclone/Cyclone.s
